<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="box">
    <div class="box-header with-boder">
      <h3 class="box-title">
        Corporate Profile
      </h3>
    </div>
    <div class="box-body">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <p>
    From the view of global operation, it is the most efficient way to implement an integrated SAP system, do support and utilize it globally. However, there are a lot of specific requirements because of different local laws and business customs in each country. Many multi-national companies are afflicted.
        </p>
        <p>
    ITI , focusing on global business integration, is the professional group to satisfy each country’s legal requirements and group management requirements by utilizing the accumulated knowhow and knowledge in global SAP projects.
        </p>
        <p>
    ITI provides the total services from accounting business support to global SCM implementation/support of integrated SAP system based on one team, one face.
        </p>
        <p>
    ITI focuses on the upper fields, such as the implementation of SAP systems and the project managements. We take advantage of the excellent human resources from our partners in China and India and we cooperate with Japanese partners to design, implement and support their international projects. In order to keep the sustainable development of our customers and make the restructuring of their business process come true, we are making unremitting efforts all the way.
        </p>
      </div>
    </div>
    </div>
    </div>
  </div>
    
  <div class="col-md-6 col-xs-12">
    <div class="box">
    <div class="box-header with-boder">
      <h3 class="box-title">
        Company Information
      </h3>
    </div>
    <div class="box-body">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <table class='table table-bordered'>
          <tbody>
            <tr>
              <td>
                Company Name
              </td>
              <td>
                ITI Inc.
              </td>
            </tr>
            <tr>
              <td>
                Establishment
              </td>
              <td>
                2014/3
              </td>
            </tr>
            <tr>
              <td>
                Capital
              </td>
              <td>
                5,000,000
              </td>
            </tr>
            <tr>
              <td>
                CEO
              </td>
              <td>
                Yanduo Zhao
              </td>
            </tr>
            <tr>
              <td>
                Address
              </td>
              <td>
                〒112-0004
                Kouraku 1-1-5Korakuen Side building 8F,Bunkyo-ku,tokyo,Japan
              </td>
            </tr>
            <tr>
              <td>
                Tel
              </td>
              <td>
                (+81) 03-6453-7359
              </td>
            </tr>
            <tr>
              <td>
                Mail
              </td>
              <td>
                <a href='mailto:info@itisiti.com'> info@itisiti.com </a>
              </td>
            </tr>
            <tr>
              <td>
                Website
              </td>
              <td>
                <a href='www.itisiti.com'> www.itisiti.com </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    </div>
    
  </div>
</div>
