<div class="row">

  <div class="col-md-12 col-xs-12">
    <div class="topic">
      <p class="message">Integration To Innovation</p>
      <p class="pull-right">- &nbsp;&nbsp;&nbsp;&nbsp;ITI CONSULTING BELIEVE</p>
      <!-- 
      <p>Professional+Kind+Rapid+Flexible+Sincerely+Simple</p>
      <p class="pull-right">- &nbsp;&nbsp;&nbsp;&nbsp;ACTION GUIDELINES</p>
      -->
    </div>
  </div>


  <div class="col-md-4 col-sm-6 col-xs-12">
  <div class="box box-appeal box-success box-solid">
  <div class="box-header with-boder">
    <h3 class="box-title">
      サービス範囲
    </h3>
  </div>
  <div class="box-body">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <p>
        ・SAP/ERP/CRM/SCM関連製品群導入サポートと開発.
      </p>
      <p>
        ・SAPクラウド関連製品群導入サポートと開発.
      </p>
      <p>
        ・SAPグローバルテンプレート設計(ロールイン、ロールアウト).
      </p>
      <p>
        ・SAPデータ分析と他ビッグデータ基盤の導入と運用.
    </p>
    <p>
     ・Oracle製品海外(英語)導入サポート(EBS,OBIEE,BI APPS).
      </p>
      <p>
        ・オフショア開発(ABAP、EBS、COBOL、OPEN系、スマホアプリ).
      </p>
    </div>
  </div>
  </div>
  </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
  <div class="box box-appeal box-warning box-solid">
  <div class="box-header with-boder">
    <h3 class="box-title">
      コンサルティング力
    </h3>
  </div>
  <div class="box-body">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <p>
        ・PMO、BPR参加可能.
      </p>
      <p>
        ・アジア太平洋区の現地調整力.
      </p>
      <p>
        ・SAP全モジュールのコンサルティング力.
      </p>
      <p>
        ・オフショアのサポートと導入.
      </p>
      <p>
        ・多言語力抜群.
      </p>
      <p>
        ・次世代パッケージの研究力.
      </p>
    </div>
  </div>
  </div>
  </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
  <div class="box box-appeal box-info box-solid">
  <div class="box-header with-boder">
    <h3 class="box-title">
      システム開発力
    </h3>
  </div>
  <div class="box-body">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <p>
        ・SAPはもちろん、他全領域対応可能.
      </p>
      <p>
        ・多言語対応可能なBSE力.
      </p>
      <p>
        ・現地BPの調整力.
      </p>
      <p>
        ・複数プロジェクトの並行対応.
      </p>
      <p>
        ・ビッグデータとデータ分析.
      </p>
      <p>
        ・（未定）
      </p>
    </div>
  </div>
  </div>
  </div>
  </div>


  <div class="col-md-12 col-sm-6 col-xs-12">
    <div class="box box-primary box-solid">
    <div class="box-header with-boder">
      <h3 class="box-title">
        会社概要
      </h3>
    </div>
    <div class="box-body">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <table class='table table-bordered'>
          <tbody>
            <tr>
              <td>
                社名
              </td>
              <td>
                ITI株式会社
              </td>
            </tr>
            <tr>
              <td>
                設立
              </td>
              <td>
                2014/3
              </td>
            </tr>
            <tr>
              <td>
                資本金
              </td>
              <td>
                5,000,000
              </td>
            </tr>
            <tr>
              <td>
                代表者
              </td>
              <td>
                <p>代表取締役　　　趙　　延多</p>
                <p>取締役　　　　　西山　剛士</p>
              </td>
            </tr>
            <tr>
              <td>
                所在地
              </td>
              <td>
                〒112-0004
                東京都文京区後楽1-1-5後楽園サイドビル8F
              </td>
            </tr>
            <tr>
              <td>
                TEL
              </td>
              <td>
                (+81) 03-6453-7359
              </td>
            </tr>
            <tr>
              <td>
                事業内容
              </td>
              <td>
                <p>グロバールERPソリューション</p>
                <p>業務系システム開発</p>
                <p>CG</p>
              </td>
            </tr>
            <tr>
              <td>
                決算
              </td>
              <td>
                2月
              </td>
            </tr>
            <tr>
              <td>
                取引銀行
              </td>
              <td>
                東京三菱UFG銀行　志木新座支店
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
