<div class="row">
  <div class="col-md-6 col-xs-12">
    <div class="box">
    <div class="box-header with-boder">
      <h3 class="box-title">
        Consultant of SAP FI/CO/SD/MM/PP/PS implementation
      </h3>
    </div>
    <div class="box-body">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <p>
          Job description
        </p>
        <ul>
          <li>
            Implement of the SAP system
          </li>
          <li>
            Support of the SAP system
          </li>
        </ul>
        <p>
          Requirements
        </p>
        <ul>
          <li>
            Bachelor degree or above, 23 to 38 years old
          </li>
          <li>
            Two-year experience of SAP consultant, or one-year or more complete experience of carrying out the projects
          </li>
          <li>
            Ability to communicate with customers, the one who masters Japanese will be better
          </li>
          <li>
            Responsible, serious, active
          </li>
          <li>
            Strong language skills, good communication skills
          </li>
        </ul>
      </div>
    </div>
    </div>
    </div>
  </div>
    
  <div class="col-md-6 col-xs-12">
    <div class="box">
    <div class="box-header with-boder">
      <h3 class="box-title">
        SAP ABAP development consultant
      </h3>
    </div>
    <div class="box-body">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <p>
          Job description
        </p>
        <ul>
          <li>
            Establish the standard of developing ABAP, write SPECIFICATION and so on
          </li>
          <li>
            Develop RICEE (including report, interface, conversion, enhance, form)
          </li>
        </ul>
        <p>
          Requirements
        </p>
        <ul>
          <li>
            A junior college education or above, 23 to 38 years old
          </li>
          <li>
            Good communications in English
          </li>
          <li>
            At least three-year experience of ABAP development
          </li>
          <li>
            Responsible, active
          </li>
          <li>
            Leader experience or Basis experience will be preferred
          </li>
          <li>
            Working experience in Japan or mastering Japanese will de preferred
          </li>
        </ul>
      </div>
    </div>
    </div>
    </div>

  </div>
</div>
